@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    font-family: Nunito;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form textarea {
    border: 1px solid #999999;
    outline: none;
    border-radius: 20px;
    padding: 7px;
    width: 88%;
    height: 35px;
    max-height: 80px;
    margin-right: .5%;
    font-size: larger;
}

form textarea::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

form button {
    width: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #f40;
    color: #ffffff;
    border-radius: 20px;
    height: 80%;
    min-width: 40px;

}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 10px 15px;
    width: fit-content;
    max-width: 75%;
}

#messages li small{
    font-size: 10px;
    text-align: left;
    margin: 0;
}

#messages small{
    display: block;
    text-align: center;
    color: #999999;
}

#messages li:nth-child(odd),
#messages li:nth-child(even) {
    background: #555;
    color: #f8f8f8;
    line-height: 18px;
    margin: 2% 0 1% 1%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

#messages li.mine{
    margin-left: auto;
    margin-right: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

#messages {
    margin-bottom: 60px
}