@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    font-family: Nunito;
    background-color: #c4c4c4;
    transition: background .3s linear;
}

img#logo {
    top: 50%;
    left: 50%;
    width: 40%;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
}

nav.fixed {
    position: fixed;
    width: 95%;
    padding: 0 0 0 20px;
    margin-top: -2%;
}

nav.fixed ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: smaller;
    color: #888888;
}

nav.fixed ul li .label {
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    height: 30px;
    position: relative;
    width: 50px;
    transform: scale(0.7);
}

nav.fixed ul li .checkbox {
    opacity: 0;
    position: absolute;
}

nav.fixed ul li .ball {
    top: 3.5px;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    transition: transform .2s linear;
}

nav.fixed ul li .checkbox:checked+.label .ball {
    transform: translateX(18px);
}

nav.fixed ul li .fa-moon {
    color: #f1c40f;
}

nav.fixed ul li .fa-sun {
    color: #f39c12;
}


form {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form textarea {
    border: 1px solid #999999;
    color: #000000;
    outline: none;
    border-radius: 20px;
    padding: 7px;
    width: 88%;
    height: 35px;
    max-height: 80px;
    margin-right: .5%;
    margin-left: 1%;
    font-size: larger;
    background-color: #e8e8e8;
    font-family: Nunito;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), -2px 0 4px rgba(0, 0, 0, .3);
}

form textarea::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

form button,
form .filebutton {
    width: 10%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #012;
    color: #ffffff;
    border-radius: 20px;
    height: 80%;
    min-width: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), -2px 0 4px rgba(0, 0, 0, .3);
}

form .filebutton {
    height: 80%;
    width: 40px;
    min-width: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2), -2px 0 2px rgba(0, 0, 0, .2);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 10px 15px;
    width: fit-content;
    max-width: 75%;
    background: #e8e8e8;
    color: #222222;
    line-height: 18px;
    margin: 2% 0 1% 1%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

#messages li pre {
    font-family: Nunito;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
    line-break: loose;
    height: auto;
    white-space: pre-wrap;
}

#messages li small {
    text-align: left;
    margin: 0;
}

#messages small.mine {
    display: block;
    text-align: center;
    color: #999999;
    background-color: #234;
    opacity: .6;
    width: fit-content;
    margin: 2% auto 4%;
    padding: 5px 10px;
    border-radius: 50px;

}

#messages li small.time {
    font-size: 10px;
    display: block;
    text-align: right;
}

#messages li.mine {
    margin-left: auto;
    margin-right: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

#messages {
    margin-bottom: 60px
}

#messages li p img {
    width: 100%;
    height: 30%;
    max-height: fit-content;
    max-width: initial;
}

.dark {
    background-color: #012;
}

.dark #messages li {
    background-color: #234;
    color: #aaaaaa;
}

.dark form textarea {
    background-color: #234;
    color: #aaaaaa;
    border: none;
}

.dark form button,
.dark form .filebutton {
    background-color: #234;
}

input#imagefile {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 80%;
    opacity: 0;
    margin: 0;
}

.dark .userList #menu{
    background-color: #234;
    color: #999999;
}

.dark .userList #menuToggle  h3{
    color: #ededed;
}

.dark .userList #menuToggle input:checked~span{
    background: #ededed;
}